<div id="top" class="starter_container bg">
    <div class="follow_container">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="top-title animated bounceInLeft"> Shinobu Shabu</h2><hr>
            <h2 class="white second-title animated zoomIn" > Ask us about our Happy Hour! <br> </h2>
            <hr>
        </div>
    </div>
</div>