<section id="menu-list" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center gallery-trigger">
        <!-- Menu Categories -->
        <ul>
          <li><a class="filter" data-filter="all">Show All</a></li>
          <li><a class="filter" data-filter=".category-1">Lunch</a></li>
          <li><a class="filter" data-filter=".category-2">Dinner</a></li>
          <li><a class="filter" data-filter=".category-3">Happy Hour</a></li>
          <li><a class="filter" data-filter=".category-4">Beverages</a></li>
        </ul>
      </div>
      <!-- Menu Items -->
      <div id="Container">
        
        <div class="mix category-1 menu-restaurant" data-myorder="2">
          <span class="clearfix">
            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
            <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$20.99</span>
          </span>
          <span class="menu-subtitle">Here is some text about the item</span>
        </div>
        
        <div class="mix category-1 menu-restaurant" data-myorder="2">
          <span class="clearfix">
            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
            <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$20.99</span>
          </span>
          <span class="menu-subtitle">Here is some text about the item</span>
        </div>
        
        <div class="mix category-1 menu-restaurant" data-myorder="2">
          <span class="clearfix">
            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
            <span style="left: 166px; right: 44px;" class="menu-line"></span>
            <span class="menu-price">$20.99</span>
          </span>
            <span class="menu-subtitle">Here is some text about the item</span>
        </div>
        
          <div class="mix category-1 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-2 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>
          <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Here is some text about the item</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

                              <div class="mix category-3 menu-restaurant" data-myorder="2">
              <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">$20.99</span>
            </span>
            <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
          </div>

            </div>
        </div>
    </div>
</section>